<footer class="foot">
  <div class="wrap foot-inner">
    <div class="foot-id">
      <img src="{{ "img/emblem.png" | relURL }}" alt="DSBMS emblem">
      <span><a href="https://www.fz-juelich.de/en/ibg/ibg-5/research/data-science-and-bioinformatics-for-mass-spectrometry-of-small-molecules" target="_blank" title="DSBMS · IBG-5 Computational Metagenomics Website at Forschungszentrum Jülich">DSBMS · IBG-5 Computational Metagenomics · Forschungszentrum Jülich</a></span>
    </div>
    <div class="foot-links">
      <span><a href="https://github.com/DSBMS" target="_blank" title="DSBMS GitHub Organization">github.com/DSBMS</a></span>
      <span><a href="https://lifs-tools.org" target="_blank" title="LIFS Tools website">lifs-tools.org</a></span>
      <span><a href="https://www.denbi.de" target="_blank" title="de.NBI and ELIXIR Germany website">www.denbi.de</a></span>
    </div>
  </div>
</footer>
